<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/mystyles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/mystyles.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <title>Bedmass Medical Database Software</title>
</head>
<body class="bg-lightblue">
    <nav class="navbar sticky-top bg-darker rounded-bottom fixed-top">
        <div class="container-fluid w-100">
            <div class="row w-100">
                <ul class="navbar-nav flex-row text-white">
                    <li class="nav-item my-0 py-0" ><a href="{{ url_for('main') }}"><img src="{{ url_for('static', filename='imgs/LogoNoText.png') }}" alt="Logo" width="90"></a></li>
                    <li class="nav-item border border-white border-1 rounded-3 mx-2 p-2 my-1"><a class="text-white no-underline" href="{{ url_for('adminPatients') }}">Patients</a></li>
                    <li class="nav-item border border-white border-1 rounded-3 mx-2 p-2 my-1"><a class="text-white no-underline" href="{{ url_for('adminBilling') }}">Billing</a></li>
                    <li class="nav-item border border-white border-1 rounded-3 mx-2 p-2 my-1"><a class="text-white no-underline" href="{{ url_for('adminAppointments') }}">Appointments</a></li>
                    <li class="nav-item border border-white border-1 rounded-3 mx-2 p-2 my-1"><a class="text-white no-underline" href="{{ url_for('adminRecords') }}">Medical Records</a></li>
                    <li class="nav-item mx-2 p-2 my-1 ms-auto"><a class="text-white no-underline" id = "logout" href="{{ url_for('main') }}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container bg-blue my-3 rounded">
        <div class="row font-tnr">
            <div class="col mt-4"><h1>Appointments:</h1></div>
            <div class="col d-flex justify-content-end my-0">
                <a href="{{ url_for('createAppointment') }}" class="btn btn-primary mx-5 my-3">Create New Appointment</a>
            </div>
            <div class="col d-flex justify-content-end my-0">
                <a href="{{ url_for('updateAppointments') }}" class="btn btn-primary mx-5 my-3">Update Appointment</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col my-1 font-tnr">
                <h5>Search by date (YYYY-MM-DD):</h5>
                <input type="text" name="date" id="date">
            </div>
            <div class="col my-2">
                <button type="submit" id="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 px-3" id="appointmentcontent">
            </div>
        </div>
    </div>
    <script>
        /*To get appointment data by search in form (YYYY-MM-DD)*/
        $(document).ready(function() {
            $.ajax({
                url: '/api/appointments',
                type: 'GET',
                success: function(response) {

                    $('#appointmentcontent').html(response);
                },
                error: function(xhr, status, error) {
                    $('#appointmentcontent').html("Failed to load appointments.");
                }
            });


            $('#submit').click(function() {
                let appointmentdate = document.getElementById("date").value;
                //Input validation using REGEX YYYY-MM-DD
                if (!appointmentdate.match(/^\d{4}-\d{2}-\d{2}$/)) {
                    alert("Please enter a valid date in the format YYYY-MM-DD");
                    $('#appointmentcontent').html("");
                    return;
                }

                $.ajax({
                    url: '/api/appointments/date',
                    type: 'GET',
                    data: {
                        date: document.getElementById("date").value
                    },
                    success: function(response) {
                        $('#appointmentcontent').html(response);
                    },
                    error: function(xhr, status, error) {
                        // This function is called if the request fails
                        $('#appointmentcontent').html('<h1> Error: ' + error + "</h1><p>Appointment not found</p>");
                    }
                });
            });

            /*For logout*/
            $('#logout').click(function(){
                $.ajax({
                    url: '/logout',
                    type: 'GET'
                })
            });
        });
    </script>
</body>
</html>