<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/mystyles.css') }}" rel="stylesheet">
    <title>Bedmass Medical Database Software</title>
</head>
<body class="bg-lightblue">
    <nav class="navbar sticky-top bg-darker rounded-bottom fixed-top"> <!--Sticky top is not working?-->
        <div class="container-fluid w-100">
            <div class="row w-100">
                <ul class="navbar-nav flex-row text-white">
                    <li class="nav-item my-0 py-0" ><a href="{{ url_for('main') }}"><img src="{{ url_for('static', filename='imgs/LogoNoText.png') }}" alt="Logo" width="90"></a></li>
                    <li class="nav-item border border-white border-1 rounded-3 mx-2 p-2 my-1"><a class="text-white no-underline" href="{{ url_for('viewPatients') }}">Patients</a></li>
                    <li class="nav-item border border-white border-1 rounded-3 mx-2 p-2 my-1"><a class="text-white no-underline" href="{{ url_for('viewBilling') }}">Billing</a></li>
                    <li class="nav-item border border-white border-1 rounded-3 mx-2 p-2 my-1"><a class="text-white no-underline" href="{{ url_for('viewAppointments') }}">Appointments</a></li>
                    <li class="nav-item border border-white border-1 rounded-3 mx-2 p-2 my-1"><a class="text-white no-underline" href="{{ url_for('viewMedicalRecords') }}">Medical Records</a></li>
                    <li class="nav-item mx-2 p-2 my-1 ms-auto"><a class="text-white no-underline" href="{{ url_for('login') }}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--The following div will differ based on what functionality is selected-->
    {% if view %}

    {% if view == 'billing' %}
    <div class="container bg-blue my-3 rounded" id="content">
        <div class="row font-tnr">
            <div class="col mt-4"><h1>Billing:</h1></div>
            <div class="col d-flex justify-content-end my-0"><a href="{{ url_for('newBill') }}" class="btn btn-primary mx-5 my-3">Create New Bill</a></div>
        </div>
        <hr>
        <div class="row my-1 font-cambria py-2"> <!--User Query for Patient ID-->
            <div class="col mx-2">
                <form action="viewBilling" method="post">
                    <h5>Search By Patient Id:</h5>
                    <input type="text" name="patient_id">
                    <input type="submit" class="btn btn-primary mx-5 my-3" value="Search">
                </form>
                {% if data %}
                {{ data|safe }}
                {% endif %}
            </div>
            <div class="col bg-lightblue rounded mx-2">
                <form action="viewBillingLastName" method="post">
                    <h6 class="mb-2 ms-1">Search for Patient ID by Last Name:</h6>
                    <input type="text" name="name">
                    <input type="submit" class="btn btn-primary mx-5 my-3" value="Search">
                </form>

                <table id="IDresponses" class="table">
                    <tr>
                        <th>Name:</th>
                        <th>ID:</th>
                    </tr>
                </table>
                {% if names %}
                {{ names|safe }}
                {% endif %}
            </div>
        </div>
    </div>

    {% elif view == 'patients' %}
    <div class="container bg-blue my-3 rounded" id="content">
        <div class="row font-tnr">
            <div class="col mt-4"><h1>Patients:</h1></div>
            <div class="col d-flex justify-content-end my-0"><a href="{{ url_for('newPatient') }}" class="btn btn-primary mx-5 my-3">Create New Patient</a></div>
        </div>
        <hr>
        <div class="row">
            <form action="viewPatients" method="post">
                <div class="col my-1 font-tnr">

                    <h6>Search by Name:</h6>

                    <input type="text" class="w-" name="name">
                </div>
                <div class="col my-2"><button class="btn btn-primary">Search</button> </div>
            </form>
        </div>
        <div class="row" id="patientcontent">
            {% if names %}
            {{ names|safe }}
            {% endif %}
        </div>
    </div>

    {% elif view == 'appointments' %}
    <div class="container bg-blue my-3 rounded" id="content">
        <div class="row font-tnr">
            <div class="col mt-4"><h1>Appointments:</h1></div>
            <div class="col d-flex justify-content-end my-0">
                <a href="{{ url_for('newAppointment') }}" class="btn btn-primary mx-5 my-3">Create New Appointment</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col my-1 font-tnr">
                <h6>Search by:</h6>

                <input type="text" class="w-">
            </div>
            <div class="col my-2"><button class="btn btn-primary">Search</button> </div>
        </div>
        <div class="row" id="appointmentcontent">

        </div>
    </div>

    {% else %}
    <div class="container bg-blue my-3 rounded" id="content">
        <div class="row font-tnr">
            <div class="col mt-4"><h1>Medical Records:</h1></div>
            <div class="col d-flex justify-content-end my-0"><a href="{{ url_for('newMedicalRecord') }}" class="btn btn-primary mx-5 my-3">Create New Medical Record</a></div>
        </div>
        <hr>
        <div class="row my-1 font-cambria py-2"> <!--User Query for Patient ID-->
            <div class="col ms-2">
                <h5>Search By Patient Id:</h5>
                <input type="text" name="PatientId">
                <input type="submit" class="btn btn-primary mx-5 my-3" value="Search">
            </div>
            <div class="col bg-lightblue rounded mx-2">
                <h6 class="mb-2 ms-1">Search for Patient ID by Last Name:</h6>
                <input type="text" name="LastName">
                <input type="submit" class="btn btn-primary mx-5 my-3" value="Search">
                <table id="IDresponses" class="table">
                    <tr>
                        <th>Name:</th>
                        <th>ID:</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {% endif %}


    {% endif %}
</body>
</html>