<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/mystyles.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/mystyles.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <title>Bedmass Medical Database Software</title>
</head>
<body class="bg-lightblue">
    <nav class="navbar sticky-top bg-darker rounded-bottom fixed-top">
        <div class="container-fluid w-100">
            <div class="row w-100">
                <ul class="navbar-nav flex-row text-white">
                    <li class="nav-item my-0 py-0" ><a href="{{ url_for('main') }}"><img src="{{ url_for('static', filename='imgs/LogoNoText.png') }}" alt="Logo" width="90"></a></li>
                    <li class="nav-item border border-white border-1 rounded-3 mx-2 p-2 my-1"><a class="text-white no-underline" href="{{ url_for('workbench') }}">Workbench</a></li>
                    <li class="nav-item border border-white border-1 rounded-3 mx-2 p-2 my-1"><a class="text-white no-underline" href="#">Document Generator</a></li>
                    <li class="nav-item mx-2 p-2 my-1 ms-auto"><a class="text-white no-underline" href="{{ url_for('login') }}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container bg-blue my-3 rounded" id="content">
        <div class="row font-tnr">
            <div class="col mt-4"><h1 id="heading">Record:</h1></div>
        </div>
        <hr>
        <div class="row my-1 font-cambria py-2">
            <div class="col ms-2">
                <form>
                    <h5>Search By Record Id:</h5>
                    <input type="text" id="record_id">
                    <input type="submit" class="btn btn-primary mx-5 my-3" value="Search" id="recordidsearch">
                </form>
            </div>
            <div class="col bg-lightblue rounded mx-2">
                <h6 class="mt-1 ms-1">Search by Patient ID:</h6>
                <input type="text" id="patient_id">
                <input type="submit" class="btn btn-primary mx-5 my-3" value="Search" id="patientidsearch">
                <div id="idResponses">
                    <!-- Results go here -->
                </div>
            </div>
        </div>
    </div>
    <div class="container rounded bg-blue font-cambria" id="formsection">
        <div class="response-placeholder"><!-- Place for search response --></div>
        <h1>Record Info:</h1>
        <hr>
        <form>
            <div class="row my-1">
                <div class="col ms-2"><h3>Record Info:</h3></div>
                <div class="col">
                    <h6 class="my-0 ms-1">Patient Id:</h6>
                    <input type="text" id="record_patient_id">
                </div>
            </div>
            <hr>
            <div class="row my-1">
                <div class="col ms-2"><h3>Diagnosis:</h3></div>
            </div>
            <div class="row mx-5">
                <input type="text" id="diagnosis">
            </div>
            <hr>
            <div class="row my-1">
                <div class="col ms-2"><h3>Treatment:</h3></div>
            </div>
            <div class="row mx-5">
                <input type="text" id="treatment">
            </div>
            <hr>
            <div class="row">
                <div class="col"><input type="submit" class="btn btn-primary mx-5 my-3" value="Update" id="update"></form></div>
               <div class=col><input type="submit" class="btn btn-primary mx-5 my-3" value="Delete/ Pay Bill" id="delete"></form></div>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function(){


            // Record search by patient id
            $('#patientidsearch').click(function(event){
                event.preventDefault();
                $.ajax({
                    url: '/api/records/patientid',
                    type: 'GET',
                    data: {
                        patientid: document.getElementById("patient_id").value
                    },
                    success: function(response) {
                        $('#idResponses').html(response)
                    },
                    error: function(xhr, status, error) {
                        $('#idResponses').html('<h1> Error: ' + error + "</h1>");
                    }
                });
            });

            // Search by record id and place record info above form
            $('#recordidsearch').click(function() {
                event.preventDefault();
                $.ajax({
                    url: '/api/records/id',
                    type: 'GET',
                    data: { id: $('#record_id').val() },
                    success: function(response) {
                        // Place response above form
                        $('.response-placeholder').html(response).prependTo('#formsection');
                    },
                    error: function(xhr, status, error) {
                        // This function is called if the request fails
                        alert("Failed to load record info.");
                    }
                });
            });

            $('form').on('submit', function(event) {
                event.preventDefault(); // Prevent the form from submitting through HTTP
            });

            // Update record info
            $('#update').click(function() {
                event.preventDefault();
                // Fields are recordid, patientid, diagnosis, treatment
                // Return an error if any of the fields are empty
                if ($('#record_id').val() == '' || $('#record_patient_id').val() == '' || $('#diagnosis').val() == '' || $('#treatment').val() == '') {
                    alert("Please fill in all fields.");
                    return;
                }

                let record_id = $('#record_id').val();
                let patient_id = $('#record_patient_id').val();
                let diagnosis = $('#diagnosis').val();
                let treatment = $('#treatment').val();

                let record_data = {
                    historyid: record_id,
                    patientid: patient_id,
                    diagnosis: diagnosis,
                    treatment: treatment
                };
                console.log(record_data);

                $.ajax({
                    url: '/api/records',
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(record_data),
                    dataType: 'json',
                    success: function(response) {
                        alert("Record info updated.");
                        console.log(response);
                    },
                    error: function(xhr, status, error) {
                        alert("Failed to update Record info.");
                        //console.log(data);
                    }
                });
            });

            // Delete Record info
            $('#delete').click(function() {
                event.preventDefault();
                let record_id = $('#record_id').val();
                if (record_id == '') {
                    alert("Please fill in the record id.");
                    return;
                }

                $.ajax({
                    url: '/api/records?id=' + encodeURIComponent(record_id),
                    type: 'DELETE',
                    success: function(response) {
                        alert("Record info deleted.");
                    },
                    error: function(xhr, status, error) {
                        alert("Failed to delete Record info.");
                    }
                });
            });

        });
    </script>
</body>
</html>